<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minute.monster game</title>
    <link href="./assets/fonts/stylesheet.css" rel="stylesheet" />
    <link href="./assets/css/main2.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>The <span class="minutemonster"></span>Minute Monster</span> Game!</h1>
        <audio controls autoplay muted>
            <source src="./assets/sound/Kids_Fun.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </header>
    <section id="rules">
        <article>
            <div>
                <h2>Rules of the game:</h2>
                <p>Find the healthiest food!</p>
                <p>Collect healthy calories until time runs out!</p>
                <p>You've got 10 minutes to start, but the faster you go (!!!) the less time your opponents have!</p>
                <p>Whomever can collect the healthiest 2500 calories in the least amount of time WINS!!!</p>
                <p>But don't go over 2500 calories, <span class="minutemonster">otherwise the Minute Monster gets you!!!</span></p>
            </div>
        </article>
        <article>
            <div id="clock">
                <h2>Clock</h2>
            </div>
        </article>
    </section>
    <section id="display">
            {{#each this}}
        <article>
            <div>
                <h2>{{brandOwner}}</h2>
                <h3>{{description}}</h3>
                <p>UPC: {{gtinUpc}}</p>
                <ul>
                    {{#each foodNutrients}}<li>{{this.name}}: {{this.amount}} in {{this.unitName}}</li>{{/each}}
                </ul>
                <button class="select {{fdcId}}">Select Me!</button>
            </div>
        </article>
            {{/each}}
    </section>
    <script src="./assets/js/game.js" ></script>
</body>
</html>