<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minute.monster game</title>
    <link href="./assets/fonts/stylesheet.css" rel="stylesheet" />
    <link href="./assets/css/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>The <span class="minutemonster"></span>Minute.Monster</span> Game!</h1>
        <section>
        <article id="clock">
            <h2>Clock</h2>
        </article>
            <article id="food">
                    <h2>Minute.Monster Shopping List:</h2>
                    <ul>
                        <li id="calories">Total Calorie Count (enough of, but not too much!!! (2500 calories)): <strong>0</strong> calories</li>
                        <li id="carbs">Total Carbohydrates (enough of): <strong>0</strong> grams</li>
                        <li id="calcium">Total Calcium (enough of): <strong>0</strong> grams</li>
                        <li id="protein">Total Protein (enough of): <strong>0</strong> grams</li>
                        <li id="fiber">Total Fiber (enough of): <strong>0</strong> grams</li>
                        <li id="vitamins">Total Vitamins By Mass (most of): <strong>0</strong> grams</li>
                        <li id="sodium">Total Sodium (less of): <strong>0</strong> grams</li>
                        <li id="cholesterol">Total Cholesterol (least of): <strong>0</strong> grams</li>
                        <li id="fats">Total Fats (least of): <strong>0</strong> grams</li>
                    </ul>
            </article>
        </section>
    </header>
    <section id="display">
            {{#each this}}
            {{#if description}}
        <article>
            <div>
                <h2>{{brandOwner}}</h2>
                <h3>{{description}}</h3>
                <p>UPC: {{gtinUpc}}</p>
                <ul>
                    {{#each foodNutrients}}<li><strong>{{this.name}}</strong>: {{this.amount}} in {{this.unitName}}</li>{{/each}}
                </ul>
                <button 
                    class="select"
                    data-fdcId="{{fdcId}}"
                    data-name="{{this.description}}"
                    {{#each foodNutrients}}
                    data-nutrient-{{@index}}='{"name":"{{this.name}}", "amount":{{this.amount}}, "unit":"{{this.unitName}}" }'
                    {{/each}}
                    >Select Me!</button>
            </div>
        </article>
            {{/if}}
            {{/each}}
    </section>
    <script src="./assets/js/game.js" ></script>
</body>
</html>