<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minute.monster game</title>
    <link href="./assets/fonts/stylesheet.css" rel="stylesheet" />
    <link href="./assets/css/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>The <span class="minutemonster"></span>Minute.Monster</span> Game!</h1>
    </header>
    <section id="display">
            {{#each this}}
            {{#if description}}
        <article>
            <div class="swivel">
                <h2>{{brandOwner}}{{#unless brandOwner}}Generic{{/unless}}</h2>
                <h3>{{description}}</h3>
                <!--<p>UPC: {{gtinUpc}}</p>-->
                <ul>
                    {{#each foodNutrients}}<li><strong>{{this.name}}</strong>: {{this.amount}} in {{this.unitName}}</li>{{/each}}
                </ul>
                <button 
                    class="select"
                    data-fdcId="{{fdcId}}"
                    data-name="{{this.description}}"
                    {{#each foodNutrients}}
                    data-nutrient-{{@index}}='{"name":"{{{this.name}}}", "amount":{{{this.amount}}}, "unit":"{{{this.unitName}}}" }'
                    {{/each}}
                    >Select Me!</button>
            </div>
        </article>
            {{/if}}
            {{/each}}
    </section>
    <footer>
        <section>
            <div id="clock">
                <h2>Clock</h2>
            </div>
            <article id="food">
                    <h2>Minute.Monster Shopping List:</h2>
                    <ul>
                        <li id="calories">Total Calorie Count (enough of, but not too much!!! (2500 calories)): <strong>{{tally.calories}}</strong> calories</li>
                        <li id="carbs">Total Carbohydrates (enough of): <strong>{{tally.carbs}}</strong> grams</li>
                        <li id="calcium">Total Calcium (enough of): <strong>{{tally.calcium}}</strong> grams</li>
                        <li id="protein">Total Protein (enough of): <strong>{{tally.protein}}</strong> grams</li>
                        <li id="fiber">Total Fiber (enough of): <strong>{{tally.fiber}}</strong> grams</li>
                        <li id="vitamins">Total Vitamins By Mass (most of): <strong>{{tally.vitamins}}</strong> grams</li>
                        <li id="sodium">Total Sodium (less of): <strong>{{tally.sodium}}</strong> grams</li>
                        <li id="cholesterol">Total Cholesterol (least of): <strong>{{tally.cholesterol}}</strong> grams</li>
                        <li id="fats">Total Fats (least of): <strong>{{tally.fats}}</strong> grams</li>
                        <button id="getMore">get more foods</button>
                        <button id="rate">rate my game</button>
                    </ul>
            </article>
        </section>
    </footer>
    <script src="./assets/js/game.js" ></script>
</body>
</html>