<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>minute.monster registration</title>
    <link href="./assets/fonts/stylesheet.css" rel="stylesheet" />
    <link href="./assets/css/main.css" rel="stylesheet" />
</head>
<body>
    <section>
        <article>
            <h1>minute.monster HIGH SCORE WINNER!!!!</h1>
            <p><a>dismiss</a></p>
        </article>
        <article>

            <h1>You have the highest score in the {{category.name}} category!</h1>
            {{#with category}}
            {{#if vitamins}}
                <p>With {{calories}} of 2500 calories ({{caloriesToSpare}} calories to spare)), you achieved the most vitamins by mass of {{vitamins}} grams!!!</p>
            {{/if}}
            {{#if carbs}}
                <p>With {{calories}} of 2500 calories ({{caloriesToSpare}} calories to spare)), you achieved the most carbohydrates by mass of {{carbs}} grams!!!</p>
            {{/if}}
            {{#if calcium}}
                <p>With {{calories}} of 2500 calories ({{caloriesToSpare}} calories to spare)), you achieved the most calcium by mass of {{calcium}} grams!!!</p>
            {{/if}}
            {{#if protein}}
                <p>With {{calories}} of 2500 calories ({{caloriesToSpare}} calories to spare)), you achieved the most protein by mass of {{protein}} grams!!!</p>
            {{/if}}
            {{#if fiber}}
                <p>With {{calories}} of 2500 calories ({{caloriesToSpare}} calories to spare)), you achieved the most fiber by mass of {{fiber}} grams!!!</p>
            {{/if}}
            {{#if sodium}}
                <p>With {{calories}} of 2500 calories ({{caloriesToSpare}} calories to spare)), you achieved the least sodium by mass of {{sodium}} grams!!!</p>
            {{/if}}
            {{#if cholesterol}}
                <p>With {{calories}} of 2500 calories ({{caloriesToSpare}} calories to spare)), you achieved the least cholesterol by mass of {{cholesterol}} grams!!!</p>
            {{/if}}
            {{#if fats}}
                <p>With {{calories}} of 2500 calories ({{caloriesToSpare}} calories to spare)), you achieved the least sodium by fats of {{fats}} grams!!!</p>
            {{/if}}
            {{/with}}
            
        </article>
    </section>
    <script src="./assets/js/highscore.js" ></script>
</body>
</html>